<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>blood donation portal </title>
  <meta name="description" content="blood donation portal">
  <!-- Latest compiled and minified CSS -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
  <script type="text/javascript" src="/javascripts/newjs.js"></script>
</head>

<style>
  body{
    padding-top: 40px;
  }
</style>

<body data-spy="scroll" data-target="#my-navbar">

<!-- Navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top" id="my-navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a href="" class="navbar-brand">Blood Donation portal</a>
    </div><!-- Navbar Header-->
    <div class="collapse navbar-collapse" id="navbar-collapse">


      <ul class="nav navbar-nav">
        <li><a href="#gallery">Gallery</a>
        <li><a href="#features">Who can Donate</a>

        <li><a href="#contact">ContactUs</a>
      </ul>
    </div>
  </div><!-- End Container-->
</nav><!-- End navbar -->

<!-- jumbotron-->
<div class="jumbotron" ng-app="postApp">
  <div class="container text-center">
    <img src="/images/123.png"></img>
    <h1>Blood Donation Portal</h1>
    <p>Donate Blood, Save Life!!! </p>

      <div class="container">
        <ul class="nav nav-tabs nav-justified">
          <li class="active"><a data-toggle="tab" href="#have"><h4>Have Blood</h4></a></li>
          <li><a data-toggle="tab" href="#need"><h4>Need Blood</h4></a></li>
        </ul>

        <div class="tab-content">
          <div id="have" class="tab-pane fade in active" ng-controller="donorPostController">
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <form role="form" name="donorForm" ng-submit="submitForm()">
                      <div class="form-group">
                        <label for="firstname"> Name: </label>
                        <input ng-model="donor.name" class="form-control" type="text" name="firstname" required />
                        <div id="errFirst"></div>
                      </div>
                      <div class="clearfix"></div>

                      <div class="form-group">
                        <label for="email">Email Address: </label>
                        <input ng-model="donor.email" class="form-control" required type="email" name="email" />
                        <div class="status" id="status"></div>
                      </div>
                      <div class="form-group">
                        <label for="phonenumber">Phone Number: </label>
                        <input ng-model="donor.phone" required type="text" name="phonenumber" class="form-control phone" maxlength="10"/>
                      </div>
                      <div class="form-group">
                        <label for="bloodgroup">Select Blood Group: </label>
                        <select class="form-control" name="blood" ng-model="donor.group">
                          <option value="A+">A+</option>
                          <option value="A-">A-</option>
                          <option value="B+">B+</option>
                          <option value="B-">B-</option>
                          <option value="AB+">AB+</option>
                          <option value="AB-">AB-</option>
                          <option value="O+">O+</option>
                          <option value="O-">O-</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="location"> Location: </label>
                        <input class="form-control" placeholer="Message" id="donor-location" ng-model="donor.location">
                      </div>
                      <div class="form-group">
                        <label for="location"> Address: </label>
                        <textarea class="form-control" placeholer="Message" id="address" ng-model="donor.address"></textarea>
                      </div>
                      <div class="form-group">
                        <button type="submit" class="btn btn-info">Submit</button>
                        <input class="btn btn-danger" type="reset" name="submit_reg" value="Reset">
                      </div>
                  </form>
                  <p ng-bind="message"></p>
                </div>
                <div class="col-md-6">
                  <!--TODO: Some image here-->
                </div>
              </div>
            </div>
          </div>

          <div id="need" class="tab-pane fade" ng-controller="recipientPostController">
            <br>
            <div class="container">
              <form role="form" name="recipientForm" ng-submit="submitForm()">
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <select class="form-control" name="blood" ng-model="recipient.group">
                        <option value="" >--Blood Group--</option>
                        <option value="A+">A+</option>
                        <option value="A-">A-</option>
                        <option value="B+">B+</option>
                        <option value="B-">B-</option>
                        <option value="AB+">AB+</option>
                        <option value="AB-">AB-</option>
                        <option value="O+">O+</option>
                        <option value="O-">O-</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <input ng-model="recipient.location" name="location" class="form-control" placeholder="Location" id="recipient-location" />
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <input ng-model="recipient.radius" required placeholder="Radius Restriction(Km)" type="number" name="radius" id="radius" class="form-control" />
                    </div>
                  </div>
                  <div class="col-md-3">
                      <button type="submit" class="btn btn-success form-control">
                        <span class="glyphicon glyphicon-search"></span> Search
                      </button>
                  </div>
                </div>
              </form>
              <br>
              <p ng-bind="message"></p>
              <div class="row">
                <div class="form-group col-md-4">
                  <label for="inputlg"> Total count of Records</label>
                  <h3 align="center" ng-bind="performance.total">2000</h3>
                </div>
                <div class="form-group col-md-4">
                  <label for="inputlg"> Number of Records fetched</label>
                  <h3 align="center" ng-bind="performance.fetched">200</h3>
                </div>
                <div class="form-group col-md-4">
                  <label for="inputlg"> Time taken to query</label>
                  <h3 align="center"><span ng-bind="performance.time"></span> secs</h3>
                </div>
              </div>
              <div class="row" ng-show="showDonors">
                <div class="col-md-12">
                  <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                      <th>Name</th>
                      <th>Address</th>
                      <th>Updated</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="donor in donors">
                      <td>{{donor.name}}</td>
                      <td>{{ donor.address }}</td>
                      <td>{{ donor.date | date:"MM/dd/yyyy 'at' h:mma" }}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div><!-- End container -->
</div>

<!-- Gallery -->
<div class="container">
  <section>
    <div class="page-header" id="gallery">
      <h2>Gallery</h2>
    </div>

    <div class="carousel slide" id="screenshot-carousel" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#screenshot-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#screenshot-carousel" data-slide-to="1"></li>
        <li data-target="#screenshot-carousel" data-slide-to="2"></li>
        <li data-target="#screenshot-carousel" data-slide-to="3"></li>
        <li data-target="#screenshot-carousel" data-slide-to="4"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="/images/1.jpg" alt="Text of the image">
          <div class="carousel-caption">

          </div>
        </div>
        <div class="item">
          <img src="/images/2.jpg" alt="Text of the image">
          <div class="carousel-caption">

          </div>
        </div>
        <div class="item">
          <img src="/images/3.jpg" alt="Text of the image">
          <div class="carousel-caption">

          </div>
        </div>
        <div class="item">
          <img src="/images/4.jpg" alt="Text of the image">
          <div class="carousel-caption">

          </div>
        </div>
        <div class="item">
          <img src="/images/5.jpg" alt="Text of the image">
          <div class="carousel-caption">

          </div>
        </div>

      </div><!-- End Carousel inner -->
      <a href="#screenshot-carousel" class="left carousel-control" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a href="#screenshot-carousel" class="right carousel-control" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div><!-- End Carousel -->

  </section>
</div>

<!-- features -->
<div class="container">
  <section>
    <div class="page-header" id="features">
      <h2>Who can Donate...</h2>
    </div><!-- End Page Header -->

    <div class="row">
      <div class="col-sm-8">
        <h3>Who can give Blood</h3>
        <p>Most people can give blood. You can give blood if you:</p>
        <ul>
          <li>are fit and healthy</li>
          <li>weigh over 7 stone 12 lbs or 50kg</li>
          <li>are aged between 17 and 66 (or 70 if you have given blood before)</li>
          <li>are over 70 and have given blood in the last two years</li>
        </ul>
      </div>
      <div class="col-sm-4">
        <img src="/images/11.jpg" class="img-responsive" alt="image">
      </div>
    </div><!-- End row -->
    <div class="row">
      <div class="col-sm-8">
        <h3>How often can I give blood?</h3>
        <p>Men can give blood every 12 weeks and women can give blood every 16 weeks.</p>
      </div>

    </div>
    <div class="row">
      <div class="col-sm-8">
        <h3>Check you are able to give blood</h3>
        <p>If you have an existing medical condition or have a question about your eligibility to give blood you should check the health and travel section before you book an appointment.</p>
        <ul>
          <li>receiving treatment</li>
          <li>taking medication</li>
          <li>tattoos</li>
          <li>pregnancy</li>
          <li>illness</li>
          <li>cancer</li>
          <li>received blood, blood products or organs</li>
        </ul>
      </div>
      <div class="col-sm-4">
        <img src="/images/12.jpg" class="img-responsive" alt="image">
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-sm-4">
        <div class="panel panel-default text-center">
          <div class="panel-body">
            <span class="glyphicon glyphicon-ok"></span>
            <h4>Tips on Blood Donation...</h4>
            <ul>
              <li>Have a good meal at least 3 hours before donating blood.</li>
              <li> Accept the snacks offered to you after the donation, it is vital that you have them. You are recommended to have a good meal later.</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="panel panel-default text-center">
          <div class="panel-body">
            <span class="glyphicon glyphicon-star"></span>
            <h4>Tips on Blood Donation...</h4>
            <ul>
              <li>Avoid smoking on the day before donating. You can smoke 3 hours after donation.</li>
              <li>You will not be eligible to donate blood if you have consumed alcohol 48 hours before donation.</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="panel panel-default text-center">
          <div class="panel-body">
            <span class="glyphicon glyphicon-play-circle"></span>
            <h4>Misconceptions about donating blood...</h4>
            <ul><li>"I will feel drained and tired after donating" - You will not feel drained or tired if you continue to drink fluids and have a good meal.</li>
              <li>"It will be painful while donating" - No, you will not feel any pain.</li>
            </ul>

          </div>
        </div>
      </div>
    </div><!-- end row -->

  </section>
</div>

<!-- Contact -->
<div class="container">
  <section>
    <div class="page-header" id="contact">
      <h2>Contact Us.<small> Contact us for more.</small></h2>
    </div><!-- End Page Header -->

    <div class="row">
      <div class="col-lg-4">
        <p>Send us a message, or contact us from the address below</p>


        <address>
          <strong>E.Divya</strong></br>
          G.V.P College of Engineering</br>
          Madhurawada, PIN:530048</br>
          Vishakapatnam</br>
          Andhra pradesh</br>
          India</br>
          +918987655532
        </address>
      </div>

      <div class="col-lg-8">
        <form action="" class="form-horizontal">
          <div class="form-group">
            <label for="user-name" class="col-lg-2 control-label">Name</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="user-name" placeholder="Enter you name">
            </div>
          </div><!-- End form group -->

          <div class="form-group">
            <label for="user-email" class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="user-email" placeholder="Enter you Email Address">
            </div>
          </div><!-- End form group -->

          <div class="form-group">
            <label for="user-url" class="col-lg-2 control-label">Your Website</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="user-email" placeholder="If you have Any.">
            </div>
          </div><!-- End form group -->

          <div class="form-group">
            <label for="user-message" class="col-lg-2 control-label">Any Message</label>
            <div class="col-lg-10">
                  <textarea name="user-message" id="user-message" class="form-control"
                            cols="20" rows="10" placeholder="Enter your Message"></textarea>
            </div>
          </div><!-- End form group -->

          <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
              <button type="submit" class="btn btn-primary">Submit</button>

            </div>
          </div>



        </form>
      </div>
    </div><!-- End the row -->

  </section>
</div>

<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script>
  function getLocationCoordinates(location, successcallback, errorCallback){
      $.ajax("https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyDa52hPfIAM6yJVUuy9MJg7EYEO-ofXwM8&address=" + location).done(function (data) {
          console.log("CoOrdinates -> ", data);
          if(typeof successcallback === 'function'){
              var coordinates = [0, 0]; //default co-ordinates
              if(data.results.length > 0){
                  var location = data.results[0].geometry.location;
                  coordinates[0] = location.lng;
                  coordinates[1] = location.lat;
              }
              successcallback(coordinates);
          }
      }).fail(function(error){
          console.log("Error -> ", error);
          if(typeof errorCallback === 'function')
            errorCallback();
      })
  }
</script>
<script>

    var postApp = angular.module('postApp', []);

    postApp.controller('donorPostController', function($scope, $http) {
        $scope.donor = {};
        $scope.submitForm = function() {
            getLocationCoordinates($scope.donor.location, function (coordinates) {
                if(coordinates[0] === 0 && coordinates[1] === 0){
                    $scope.message = "Location Not Found. Please try another location..!";
                    return;
                }
                var body = Object.assign({}, $scope.donor, {location: coordinates});
                $http({
                    method  : 'POST',
                    url     : '/donor',
                    data    : body, //forms user object
                    headers : {'Content-Type': 'application/json'}
                }).success(function(data) {
                    $scope.message = data ? "Successfully saved..!" : "Something went wrong. Please try again..!";
                }).error(function () {
                    $scope.message = "Something went wrong. Please try again..!";
                });
            });
        };
    });

    postApp.controller('recipientPostController', function($scope, $http) {
        $scope.recipient = {};
        $scope.donors = [];
        $scope.performance = {};
        $scope.showDonors = false;
        $scope.submitForm = function() {
            $scope.showDonors = false;
            getLocationCoordinates($scope.recipient.location, function (coordinates) {
                if(coordinates[0] === 0 && coordinates[1] === 0){
                    $scope.message = "Location Not Found. Please try another location..!";
                    return;
                }
                var body = Object.assign({}, $scope.recipient, {location: coordinates});
                $http({
                    method: 'POST',
                    url: '/donors',
                    data: body, //forms user object
                    headers: {'Content-Type': 'application/json'}
                }).success(function (data) {
                    if (data) {
                        $scope.performance = data.performance || {};
                        $scope.donors = data.donors || [];
                        if(data.donors && data.donors.length > 0) {
                            $scope.showDonors = true;
                        }
                    } else {
                        $scope.message = "No donors found..!";
                    }
                }).error(function () {
                    $scope.message = "Something went wrong. Please try again..!";
                });
            });
        };
    });
</script>
<script>
    function initialize() {

        var donorLocation = document.getElementById('donor-location');
        var recipientLocation = document.getElementById('recipient-location');
        var donorAutocomplete = new google.maps.places.Autocomplete(donorLocation);
        var recipientAutocomplete = new google.maps.places.Autocomplete(recipientLocation);
    }

    google.maps.event.addDomListener(window, 'load', initialize);

</script>
</body>
</html>