<html>
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/newjs.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/newcss.css">
    <style>
        body {
            background-image: url("/images/blood.png");
            background-repeat: no-repeat;
            background-size:600px 600px;
            background-position:right;

        }
        .wrapper {
            text-align: center-left;
        }

        .button {
            position: absolute;
            top: 50%;
        }
    </style>

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form action="" method="post" id="fileForm" role="form">
                <legend class="text-center">Welcome Recepient...!<span class="req"></span></legend>




                    <div class="form-group col-xs-4">
                        <label for="bloodgroup">Select Blood Group: </label>
                        <select class="form-control" name="Blood group">
                            <option value="na" name="default">Select</option>
                            <option value="A+" name="A+">A+</option>
                            <option value="A-" name="A-">A-</option>
                            <option value="B+"name="B+">B+</option>
                            <option value="B-"name="B-">B-</option>
                            <option value="AB+"name="AB+">AB+</option>
                            <option value="AB-"name="AB-">AB-</option>
                            <option value="O+"name="O+">O+</option>
                            <option value="O-"name="O-">O-</option>

                        </select>
                    </div>







                    <div class="clearfix"></div>
                    <div class="form-group col-xs-4">
                        <label for="location"> Address: </label>
                        <textarea class="form-control" placeholer="Message" id="location">
                                      </textarea>
                        <div id="errFirst"></div>
                    </div>


                    <div class="clearfix"></div>
                    <br>
                    <div class="form-group col-xs-2 >
            <label><b>Radius Restriction(Km)</b> </label>

                <input required type="textbox"  name="radius" id="radius" class="form-control phone" maxlength="28" onkeyup="validatephone(this);" /></form>

            </form>
        </div>
        <div class="clearfix"></div>
        <div class="form-group col-xs-4">

            <?php //$date_entered = date('m/d/Y H:i:s'); ?>
            <input type="hidden" value="<?php //echo $date_entered; ?>" name="dateregistered">
            <input type="hidden" value="0" name="activate" />



        </div>
        <div class="clearfix"></div>
        <div class="form-group container wrapper">
            <p>
                <button type="button" class="btn btn-success">
                    <span class="glyphicon glyphicon-search"></span> Search
                </button>
                <input class="btn btn-danger" type="reset" name="submit_reg" value="Reset">
            </p>
        </div>

        <div class="clearfix"></div>
        <div class="form-group col-xs-3">
            <label for="inputlg"> Total count of Records</label>
            <input class="form-control" id="inputlg" type="text">
        </div>
        <div class="form-group col-xs-3">
            <label for="inputlg">Number of Records searched</label>
            <input class="form-control" id="inputlg" type="text">
        </div>
        <div class="clearfix"></div>
        <hr>
        <div class="container">
            <b>Donor details</b>
            <div class="row">
                <div class="col-md-6">
                </div>
            </div>
        </div>

                  </form><!-- ends register form -->

        <script type="text/javascript">
            document.getElementById("field_terms").setCustomValidity("Please indicate that you accept the Terms and Conditions");
        </script>

    </div><!-- ends col-6 -->



</div>
</div>
</body>
</html>